body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ebebeb;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}



.footer {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  justify-content: center;
  /* filter: invert(); */
}

ul {
  display: flex;
}

#menu {
  list-style-type: none;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

picture img {
  width: 9rem;
}

.introTwo {
  font-family: 'Great Vibes', cursive;
}

.bg-koalas{
  width: 1300px;
}