:root {
	--primary-color: #170614;
	--secondary-color: #c099a0;
	--tertiary-color: #e4d2d8;
	--quaternary-color: #243a5c;
	--quinary-color: #fff3f5;
	--primary-font: 'Nunito', sans-serif;
	--secondary-font: 'Great Vibes', cursive;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: #170614c8;
	color: var(--quinary-color);
	-webkit-backdrop-filter: blur(0.5rem);
	backdrop-filter: blur(0.5rem);
	position: fixed;
	width: 100%;
	z-index: 999;
}

nav ul {
	width: 80rem;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

nav ul li {
	list-style-type: none;
	margin: 0 1.5rem;
}

.navbarLogo {
	width: 4rem;
	transition: all 1s ease;
}

.navbarLogo:hover {
	filter: drop-shadow(0 0 0.5rem var(--quaternary-color));
	transform: scale(1.1);
}

.navbarMenu {
	transition: all 0.4s ease-in;
	display: inline-block;
}

.navbarMenu:hover {
	transform: translateY(-0.1rem);
	color: white;
	filter: drop-shadow(0 0 0.5rem var(--quaternary-color));
}

nav ul li a {
	text-decoration: none;
	color: var(--tertiary-color);
	font-family: var(--primary-font);
	display: inline-block;
}

/*Seccion Hero*/

.hero_section {
	position: relative;
	margin: 0 auto;
	width: 80rem;
	max-width: 100%;
}

.koala_hero {
	width: 100%;
	height: auto;
	display: block;
}

.text_hero {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-color);
	filter: drop-shadow(0 0 10px var(--quaternary-color))
		drop-shadow(0 0 20px var(--tertiary-color))
		drop-shadow(0 0 30px var(--quinary-color));
	font-family: var(--primary-font);
	text-align: center;
	width: 100%;
}

.text_hero h1 {
	font-size: 4rem;
}

.text_hero h2 {
	font-size: 27px;
}

.text_hero h3 {
	font-size: 1.2rem;
	width: 20rem;
	margin: 0 auto;
}

.text_hero h2,
h3 {
	font-weight: 400;
}
