body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
}

#menu {
  list-style-type: none;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

picture img {
  width: 9rem;
}

.introTwo{
  font-family: 'Great Vibes', cursive;
}