:root {
	--principal-font: 'Nunito', sans-serif;
	--secondary-font: 'Great Vibes', cursive;
	--primary-color: #180614;
	--secondary-color: #c099a0;
	--tertiary-color: #e4d2d8;
	--quaternary-color: #243a5c;
	--fifth-color: #fff3f5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--principal-font);
	color: var(--primary-color);
	background-color: var(--fifth-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container {
	width: 1300px;
	margin: 0 auto;
}

header {
	position: sticky;
	top: 0px;
	width: 1300px;
	z-index: 5;
}

.imagelogo {
	filter: drop-shadow(0 2px 10px var(--fourth-color));
	animation: colorGlow 5s infinite alternate;
}



@keyframes colorGlow {
	0%,
	100% {
		filter: drop-shadow(0 10px 30px var(--primary-color));
	}
	33% {
		filter: drop-shadow(0 20px 25px var(--primary-color));
	}
	67% {
		filter: drop-shadow(0 15px 20px var(--primary-color));
	}
}

.navbar,
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 1300px;
}

.navbar {
	background: rgba(228, 210, 216, 0.175);
	-webkit-backdrop-filter: blur(170px);
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 10px 0 #e4d2d877;
	border-radius: 0 0 10px 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	list-style: none;
	text-decoration: none;
	margin: auto 2rem;
	transition: all 0.5s ease-in-out;
}

.navbar ul li:hover {
	text-decoration: underline;
	text-underline-offset: 10px;
}

.navbarHome h1 {
	background-image: url(/assets/navbar/Asset\ 3.svg);
	background-repeat: no-repeat;
	color: transparent;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.navbarHome h1:hover {
	transform: scale(1.1);
}

.herosection {
	margin: 0 auto;
	width: 1300px;
}

.herosection img {
	width: 1300px;
	margin-bottom: 3rem;
}

.homeSection {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.lasthomebanner{
	margin-top: 4rem;
	width: 1300px;
	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: space-evenly;

}

.lasthomebanner img{
	width: 46rem;
	border-radius: 25px;
}

.lasthomebanner div h3{
	font-family: var(--secondary-font);
	font-size: 4rem;
	color: var(--quaternary-color);
}

.lasthomebanner div p{
	font-size: 1.5rem;
}

footer {
	height: 4rem;
	background-color: var(--tertiary-color);
	justify-content: space-between;
	padding: 0 1rem;
	margin-top: 3rem;
	background: rgba(228, 210, 216, 0.55);
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.footerLogo {
	width: 8rem;
}

.priceSection,
.contactSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	height: 59rem;
	width: 40rem;
	border-radius: 25px;
}

.priceSection a,
.contactSection a {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.priceSection:hover a,
.contactSection:hover a {
	opacity: 1;
}

.priceSection:hover .priceBG,
.contactSection:hover .contactBG {
	filter: blur(10px);
}

.priceBG,
.contactBG {
	position: absolute;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	transition: filter 0.3s ease;
	z-index: -1;
}

.priceBG {
	background-image: url('/assets/homePage/pexels-karolina-grabowska-4498195.webp');
}

.contactBG {
	background-image: url(/assets/homePage/pexels-james-frid-2569220.webp);
}

.priceAct,
.contactAct {
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 2rem;
	font-size: large;
	color: var(--fifth-color);
}

.priceAct h2,
.contactAct h2 {
	font-size: 4rem;
}

.priceAct p,
.contactAct p {
	font-size: 1.5rem;
}

.boton-estilo {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: var(--fifth-color);
	text-align: center;
	text-decoration: none;
	border-radius: 2rem;
}

iframe {
	border: 1px solid var(--tertiary-color);
	border-radius: 25px;
	background: var(--tertiary-color);
	box-shadow: 10px 10px 20px var(--secondary-color),
		-10px -10px 20px var(--tertiary-color);
}

.contactPage {
	display: flex;
	flex-direction: row;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2rem;
}

#contactForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid var(--quaternary-color);
	border-radius: 25px;
	padding: 7rem;
}

#contactForm label {
	margin-bottom: 5px;
}

#contactForm input,
#contactForm textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#contactForm button {
	width: 100%;
	padding: 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#contactForm button:hover {
	background-color: #45a049;
}

.redes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 4rem;
}

.redes a {
	margin: auto 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.redes a p {
	font-weight: lighter;
	margin-top: 0.5px;
}
