:root {
  --primary-color: #170614;
  --secondary-color: #fff3f5;
  --tertiary-color: #c099a0;
  --fourth-color: #243a5c;
  --fifth-color: #e4d2d8;
}

body {
  height: 500px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Nunito', sans-serif;
  /**font-family: 'Great Vibes', cursive;**/
}

#container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 3px;
}

#navbar,
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(14.5px);
  backdrop-filter: blur(14.5px);
  border-radius: 10px;
  padding: 1rem;
}

.navLogo {
  width: 4rem;
  filter: invert();
  transition: all 0.5s;
}

.navLogo:hover {
  transform: scale(1.1);
  filter: invert(1) drop-shadow(0px 0px 10px var(--tertiary-color));
}

.navOps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.navOps li {
  margin: 0 2rem 0 2rem;
  list-style-type: none;
}

.navOps li a,
a {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.5s;
}

.navOps li a:hover {
  color: var(--tertiary-color);
  transform: translate(0, 0.3rem);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  filter: invert();
}

.navTheme-toggle {
  width: 2rem;
}
