:root {
  --primary-color: #170614;
  --secondary-color: #fff3f5;
  --tertiary-color: #c099a0;
  --fourth-color: #243a5c;
  --fifth-color: #e4d2d8;
}

body {
  height: 500px;
  background-color: #fff3f5;
  color: #170614;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Nunito', sans-serif;
  /**font-family: 'Great Vibes', cursive;**/
}

#container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3px;
}

#navbar,
footer {
  width: 80rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: rgba(232, 232, 232, 0.38);
  -webkit-backdrop-filter: blur(14.5px);
  backdrop-filter: blur(14.5px);
  border-radius: 10px;
  padding: 1rem;
}

#navbar {
  position: fixed;

  height: 3rem;
}

.navLogo img {
  width: 4rem;
  transition: all 0.5s;
}

.navLogo img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px var(--tertiary-color));
}

.navLogo span {
  color: transparent;
  display: none;
}

.navOps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.navOps li {
  margin: 0 2rem 0 2rem;
  list-style-type: none;
}

.navOps li a,
a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.5s;
}

.navOps li a:hover {
  color: var(--tertiary-color);
  transform: translate(0, 0.3rem);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#theme-toggle {
  background-color: transparent;
  border: none;
}

.navTheme-toggle {
  width: 2rem;
}

.navTheme-toggle:hover{
  filter: drop-shadow(0 0 10px #000000) invert(0);

}

.footerLogo {
  width: 8rem;
}

.homeHero {
  position: relative;
  display: inline-block;
}

.homeHero picture {
  display: block;
  width: 82rem;
  border-top: 10px;
}

.heroimg {
  width: 82rem;
  border-radius: 10px;
}

.homeHero .text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  text-align: center;
  width: 100%;
  color: var(--secondary-color);
}

.home .text h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  filter: drop-shadow(1px 1px 2px black) drop-shadow(2px 2px 4px grey);
}

.home .text img{
  width: 50rem;
  margin-top: 20rem;
  filter:drop-shadow(0 0 5rem var(--fourth-color));
  opacity: 80%;
}

.koala1 {
  width: 20rem;
  margin: 5rem;
  filter: drop-shadow(0 2px 10px var(--fourth-color));
  animation: colorGlow 5s infinite alternate;
}

@keyframes colorGlow {
  0%,
  100% {
    filter: drop-shadow(0 2px 10px var(--primary-color));
  }
  33% {
    filter: drop-shadow(0 2px 15px var(--fourth-color));
  }
  67% {
    filter: drop-shadow(0 2px 20px var(--tertiary-color));
  }
}

.homep1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.homep1 p {
  font-size: 2rem;
  font-weight: lighter;
}
